apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ required ".Values.clusterRole.name is required" .Values.clusterRole.name }}
  labels:
{{- include "operator.clusterrole.labels" . | nindent 4 }}
rules:
- apiGroups:
  - scheduler.grove.io
  resources:
  - podgangs
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - deletecollection
  - patch
  - update
- apiGroups:
  - grove.io
  resources:
  - podcliquesets
  - podcliquesets/status
  - podcliques
  - podcliques/status
  - podcliquescalinggroups
  - podcliquescalinggroups/status
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - deletecollection
  - patch
  - update
- apiGroups:
  - grove.io
  resources:
  - clustertopologies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - pods/status
  - serviceaccounts
  - services
  - secrets
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - deletecollection
  - patch
  - update
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - create
    - get
    - list
    - patch
    - delete
    - watch
    - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  - mutatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - watch
  - patch
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - create
    - get
    - list
    - patch
    - delete
    - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - get
  - list
  - watch
  - delete
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - get
  - list
  - delete
  - deletecollection
  - patch
  - update
  - watch

