apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
{{- include "operator.lease.role.labels" . | nindent 4 }}
  name: {{ required ".Values.leaseRole.name is required" .Values.leaseRole.name }}
  namespace: '{{ .Release.Namespace }}'
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch